.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  white-space: nowrap;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 353px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__delete-btn {
  background: url(../images/trash.svg) center / contain no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background: url(../images/trash_hover.svg);
  cursor: pointer;
}

.card__like-btn {
  background: url(../images/like.svg) center / contain no-repeat;
  cursor: pointer;
  opacity: 40%;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-btn_active {
  opacity: 100%;
  background-image: url(../images/liked.svg);
  cursor: pointer;
}

.card__like-btn_active:hover {
  opacity: 40%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
